h1 {
    color: black;
}

.out {
    margin: 20px 0;
    padding: 0.01em 16px;
    background-color: #f1f1f1;
}

.no-margin {
    margin: 0px;
}

.in {
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid rgb(55, 62, 158);
    margin-top: 16px!important;
    margin-bottom: 16px!important;
}

p {
    color: grey;
}

a:link,
a:visited {
    background-color: rgb(55, 62, 158);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: blue;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(55, 62, 158);
    color: white;
}